.body{
	background: #D9D8FC;
	width: 700px;
	margin: 50px auto;
	box-shadow: 0 4px 0px #CBCEF4;
	border-radius: 15px;
}

.header{
	text-align: center;	
	font-size: 2em;
	font-family: 'Amaranth', sans-serif; 
	letter-spacing: 20px;
	
}

h1, p{
	margin: 0;
}

.header-list{
	text-align: center;
	font-size: 1.2em;
	background: #CBCEF4;
	letter-spacing: 2px;
}


.box-header{
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 5px #CBCEF4 solid;
	border-bottom: 5px #CBCEF4 solid;
	border-radius: 10%;
}



.add-lists-form input[type=text] {
	border-style: none;
	background-color: #CBCEF4;
}

.add-lists-form input[type=submit] {
	border-radius: 5px;
	border-style: none;
	background-color: #CBCEF4 ;
}

.add-lists-form input[type=submit]:hover{
	background-color: #fff;
}

.add-things-form{
	padding-top: 10px;
	padding-bottom: 10px;
}

.add-things-form input[type=text] {
	border-style: none;
	background-color: #D9D8FC;
}

.add-things-form input[type=submit] {
	border-radius: 5px;
	border-style: none;
	background-color: #D9D8FC ;
}

.add-things-form input[type=submit]:hover{
	background-color: #fff;
}

.text, .button{
	padding: 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.list-menu{
	padding-bottom: 30px;
	text-align: center;	
}

.things{
	display: flex;
	padding-bottom: 10px;
}

.wrapper{

	width: 600px;
	background: #CBCEF4;
}

a{
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
}

a:hover{
	color: #CBCEF4;
}

li{
	list-style: none;
	font-family: 'Merriweather', serif;
	font-size: 1em;
}